body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, white,rgb(207, 207, 207), aliceblue);
}

.div1{
    margin: 10px auto;
    display: grid;
    grid-template-columns: 300px;
    row-gap: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px;
    width: 320px;
}

.price1{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

button, input{
    margin: 5px;
}
