body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, white, rgb(207, 207, 207), aliceblue);
}
.cart{
    position: fixed;
    right: 30px;
    top: 10px;
    width: 50px;
}
.img{
    width: 50px;
}
.badge{
    position: fixed;
    top: 5px;
    right: 20px;
    padding: 5px;
    border-radius: 50%;
    background: red;
    color: white;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.card-img-top{
    width: auto !important;
    height: 200px;
    object-fit: cover;
}
.card-body{
    width: 200px !important;
}
.card{
    margin: 5px;
}