body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, white,rgb(207, 207, 207), aliceblue);
}
.log_in{
    width: auto;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: aliceblue;
}
.admin_inf{
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: aliceblue;
}
a{
    text-decoration: none;
    color: black;
}
.modal{
    display: none;
}